<div id="dashboard-container" class="col-lg-12">

    <div id="product-resume">
      <img src="<%= @product.image %>" alt="<%= @product.name %>" class="col-md-2">
      <h3 class="col-md-10 product-name"><%= @product.name %></h3>
      <p  class="col-md-10"><%= @product.short_description %></p>
      <div class="clearfix"></div>
    </div>

    <div id="product-detail">
      <div id="product-gallery" class="col-md-6">
        <div id="gallery-container">
        </div>
        <ul id="thumb-gallery">
          <% @assets_json.each do |asset| %>
            <li><a href="<%= asset.url %>" rel="prettyPhoto[pp_gal]" title="<%= asset.name %>."><img src="<%= asset.url_thumb %>" width="60" height="60"></a></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <p><%= simple_format(@product.description) %></p>
        <ul class="benefits">
          <% @benefits_array.each do |benefit| %>
              <li><%= benefit %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <% if not @combos_array.empty? %>
      <div id="product-combos">
        <h2>Elige tu paquete</h2>
        <table>
          <thead>
          <tr>
            <th class="addon"></th>
            <% @combos_array.each do |combo| %>
                <th class="combo combo-<%= combo.id %>">
                  <span class="combo-title"><%= combo.name %></span>
                  <span class="combo-price"><%= number_to_currency(combo.price, precision: 0, locale: :en) %></span>
                  <span class="combo-description"><%= combo.description %></span>
                </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% current_combo = nil %>
          <% @product_addons_array.each do |addon| %>
              <tr>
                <td class="addon-title">
                  <% if not addon.description.to_s == '' then %>
                      <i class="fa fa-info-circle addon-description" data-toggle="popover" data-content="<%= addon.description %>"></i>
                  <% end %>
                  <%= addon.name %>
                </td>
                <% addon.addons_combos.each do |addon_combo| %>
                    <td class="combo combo-<%= addon_combo.combo.id %>">
                      <% if not current_user.purchases_combos.where("combo_id = ?" , addon_combo.combo.id).empty? %>
                        <% current_combo = addon_combo.combo %>
                      <% end %>
                      <% if addon_combo.active then %>
                          <span class="glyphicon glyphicon-ok addon-included"></span>
                      <% elsif addon_combo.quantity && !addon_combo.description then %>
                          <%= addon_combo.quantity %>
                      <% elsif !addon_combo.quantity && addon_combo.description then %>
                          <%= addon_combo.description %>
                      <% end %>
                    </td>
                <% end %>
              </tr>
          <% end %>
                        
          <tr class="select-combo-button">
            <td class="addon-title"></td>
            <% @combos_array.each do |combo| %>
              <td class="combo combo-<%= combo.id %>"><%= link_to('Contrata el plan', "javascript:void(0);", :onclick => "enviar_compra(#{current_user.id}, #{combo.id}, null)", :class => 'btn btn-a btn-small btn-blue', :method => :get) unless current_combo == combo %></td>
            <% end %>
          </tr>
          </tbody>
        </table>

        <h2>Agrega</h2>
        <table>
          <thead>
          <tr>
            <th class="addon"></th>
          </tr>
          </thead>
          <tbody>
          <% 
            current_combo = nil 
            total_addons = 0
          %>
          <% @product_purchasable_addons_array.each do |addon| %>
              <tr>
                <td class="addon-title">
                  <% if not addon.description.to_s == '' then %>
                      <i class="fa fa-info-circle addon-description" data-toggle="popover" data-content="<%= addon.description %>"></i>
                  <% end %>
                  <%= addon.name %>
                </td>
                <% addon.addons_combos.each do |addon_combo| %>
                  <td class="combo combo-<%= addon_combo.combo.id %>">
                    <%= number_to_currency(addon_combo.price, precision: 2, locale: :en) %>
                      <% if not current_user.purchases_combos.where("combo_id = ?" , addon_combo.combo.id).empty? %>
                          <% if ix = @current_user_addons[:addons].index(addon_combo.addon) %>
                          <input class="input-addon purchased" onchange="recalculateTotals()" value='<%= @current_user_addons[:quantity][ix]%>' id="addon_<%= addon_combo.addon.id %>" data-price="<%= addon_combo.price %>" data-addon="<%= addon.id %>" />
                              <% total_addons += (addon_combo.price*@current_user_addons[:quantity][ix]) %>
                          <% else %>
                              <input class="input-addon purchased" onchange="recalculateTotals()" value='0' id="addon_<%= addon_combo.addon.id %>" data-price="<%= addon_combo.price %>" data-addon="<%= addon.id %>"/>
                          <% end %>
                          <% current_combo = addon_combo.combo %>
                      <% end %>
                    <% end %>
                  </td>
              </tr>
          <% end %>

          <% if current_combo %>      
            <tr class="select-combo-button">
              <td class="addon-title">Total</td>
              <% @combos_array.each do |combo| %>
                <td class="combo combo-<%= combo.id %>">
                <% if current_combo == combo %>
                  <p id="total_addons">$<%= total_addons %></p><%= link_to(raw("<i class='fa fa-shopping-cart'></i> Agrégalo"), "javascript:void(0);", :onclick => "cotizar_addons(#{current_user.id}, #{@product.id})", :class => 'btn btn-a btn-small btn-blue', :method => :get) %>
                <% end %>
                </td>
              <% end %>
            </tr>
          <% else %>
            <tr class="select-combo-button">
              <td class="addon-title"></td>
              <% @combos_array.each do |combo| %>
                <td></td>
              <% end %>
            </tr>
          <% end %>

          </tbody>
        </table>

      </div>
    <% else %>
      <!-- SIN PAQUETES -->
      <div id="product-combos">
        <p>Solicita una cotización para conocer los precios del producto.</p>
        <%= link_to('Cotiza aquí', "javascript:void(0);", :onclick => "enviar_cotizacion(#{current_user.id}, #{@product.id})", :class => 'btn btn-a btn-big btn-blue', :method => :get) %>
      </div>
    <% end %>
    <% if @product.footnote.to_s != '' then %>
        <div id="footnote">
          <p><%= @product.footnote %></p>
        </div>
    <% end %>
</div>

<div class="modal fade" id="mensaje_enviado_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Solicitud Exitosa</h4>
      </div>
      <div class="modal-body">
        <p>¡Muchas gracias!</p>
        <p>Tu solicitud ha sido ingresada exitosamente.</p>
        <p>Pronto recibirás un correo electrónico para finalizar tu compra. En caso que no lo recibieras, haz clic <a href="mailto:todos@theinfluence.co?subject=Problemas procesando mi compra">aquí</a> para notificarnos.</p>
      </div>
    </div>
  </div>
</div>
