<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", :class => "logosm"), root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Mi Cuenta', edit_user_registration_path  %></li>
        <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="backgroundform">
  <div class="container">
<div class="authform morewidth">
  <h3>Editar Usuario</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Deja los espacios en blanco si quieres mantener tu contraseña actual.</p>
      <div class="form-group">
        <%= f.label :password, 'Contraseña' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmar contraseña' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Debes escribir tu contraseña actual para hacer los cambios.</p>
      <div class="form-group">
        <%= f.label :current_password, 'Contraseña actual' %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Actualizar', :class => 'btn btn-blue btn-small right' %>
  <% end %>
</div>
<div class="authform">
<h3>Cancelar Cuenta</h3>
<%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-blue btn-small right' %>
</div>
  
  </div>
</div>
