<div id="dashboard-container" class="col-lg-12">
    <div id="users-list">
        <h2>Lista de usuarios</h2>
        <% if not @users.empty? %>
          <div class="tools">
            <span class="left">TODOS LOS USUARIOS (<%= @users.count() %>)</span>
            <span class="right">
                <%= link_to   new_user_path, :class => "btn btn-a btn-small btn-blue" do %>
                    <i class="fa fa-user"></i> Crear usuario
                <% end %>
            </span>
          </div>
          <table>
            <thead>
            <tr>
              <th class="hidden-xs"></th>
              <th>Nombre</th>
              <th class="hidden-xs">Email</th>
              <th class="hidden-xs"></th>
            </tr>
            </thead>

            <tbody>
            <% @users.each_with_index do |user, index| %>
                <tr>
                  <td class="hidden-xs"><%= index+1 %></td>
                  <td><%= link_to user.name, admin_user_detail_path(:user_id => user.id) %></td>
                  <td class="hidden-xs"><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                  <td class="actions hidden-xs">
                      <% if user.active? %>
                          <%= link_to 'Desactivar', deactivate_user_path(:user_id => user.id, :redirected => true), :class => 'delete-action', method: :get, data: { confirm: '¿Estás seguro?' } %>
                      <% else %>
                          <%= link_to 'Activar', activate_user_path(:user_id => user.id, :redirected => true), :class => 'active-action', method: :get, data: { confirm: '¿Estás seguro?' } %>
                      <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
            <div class="empty">
                <h3>No hay usuarios dados de alta. </h3>
                <%= link_to   new_user_path, :class => "btn btn-a btn-small btn-blue" do %>
                    <i class="fa fa-user"></i> Crear usuario
                <% end %>
            </div>
        <% end %>
    </div>

</div>
