<h1>Cuenta del usuario</h1>
<h2>Información personal</h2>
<p>Nombre: <%= @user.name %></p> 
<p>Correo electrónico: <%= @user.email %></p> 
<p>
<% if @user.active? %>
  <%= link_to 'Desactivar', deactivate_user_path(:user_id => @user.id), method: :get, data: { confirm: '¿Estás seguro?' } %>
<% else %>
  <%= link_to 'Activar', activate_user_path(:user_id => @user.id), method: :get, data: { confirm: '¿Estás seguro?' } %>
<% end %>
  <%= link_to 'Editar', "#", "data-toggle" => "modal", "data-target" => "#editUser" %>
</p>
<% if not @user.purchases_combos.empty? %>
<h2>Productos contratados</h2>
  <% @user.purchases_combos.each do |pc| %>
    <p><h3><%= pc.combo.product.name %></h3></p>
    <ul>
      <li><%= pc.user_name %></li>
      <li><%= pc.password %></li>
    </ul>
    <p><%= link_to 'Editar', "#", "data-toggle" => "modal", "data-target" => "#editComboPurchase" %></p>

    <!-- Modal Edit Combo Purchase -->
    <div class="modal fade" id="editComboPurchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
        </div>
        <div class="modal-body"> 
          <%= form_for(pc) do |f| %> 
          <div class="authform">
            <div class="form-group">
              <%= f.label :user_name, 'Nombre' %>
              <%= f.text_field :user_name, :autofocus => true, class: 'form-control', required: true  %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.text_field :password, class: 'form-control', required: true %>
            </div>
            <div style="text-align: right;">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= f.submit 'Salvar', :class=>"btn btn-primary" %>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <h3>Paquetes</h3>
    <% Combo.all.each do |combo| %>
      <% paquete_actual = (combo == pc.combo) %>
      <h3><%= combo.name %> <%= "$#{combo.price}" %> <%= paquete_actual ? raw("<strong>Paquete Actual</strong>") : (link_to 'Asignar Paquete', assign_combo_path(:user_id => @user.id, :combo_id => combo.id, :product_id => combo.product_id), method: :get, data: { confirm: '¿Estás seguro que quieres asignar este paquete?' }) %></h3>

      <% purchasable_addons = combo.addons_combos.where("purchasable = ?", true) %>
      <% if not purchasable_addons.empty? %>
        <% subtotal = 0 %>
        <p>Adicionales</p>
        <% purchasable_addons.each do |addon_combo| %>
          <div><p><%= addon_combo.addon.name %> <%= addon_combo.quantity %> <%= "$#{addon_combo.price}" %>
          <% nuevo_addon = true %>
          <% if not @user.purchases_addons.empty? %>
            <% @user.purchases_addons.each do |pa| %>
              <% if pa.addon == addon_combo.addon and combo == pc.combo %>
                <% nuevo_addon = false %>
                <% subtotal += pa.total_price %>
                - <strong><%= pa.quantity %> Addon(s) comprado(s)</strong> - 
              <% end %>         
            <% end %>
          <% end %>
          <% if paquete_actual %>
            <%= nuevo_addon ? (link_to 'Asignar Addon', assign_addon_path(:user_id => @user.id, :addon_id => addon_combo.addon.id, :current => false, :combo_id => combo.id), method: :get, data: { confirm: '¿Estás seguro que quieres asignar este addon?' }) : ( "#{link_to('Aumentar un addon', assign_addon_path(:user_id => @user.id, :addon_id => addon_combo.addon.id, :current => true, :combo_id => combo.id), method: :get, data: { confirm: '¿Estás seguro que quieres aumentar este addon?' })} #{link_to('Remover un addon', remove_addon_path(:user_id => @user.id, :addon_id => addon_combo.addon.id, :combo_id => combo.id), method: :get, data: { confirm: '¿Estás seguro que quieres remover este addon?' })}".html_safe )  %> 
          <% end %>
          </div>
        <% end %>
        <% if paquete_actual %>
          <div>Total mensual: <%= pc.total_price + subtotal %></div>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
<br/>
<p><%= link_to 'Agregar producto', "#", "data-toggle" => "modal", "data-target" => "#addProduct" %></p>

<!-- Modal Add Product -->
<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Agregar Producto</h4>
      </div>
      <div class="modal-body"> 
        <div class="authform">
          ...en construcción...
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit User -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
      </div>
      <div class="modal-body"> 
      <%= form_for(@user) do |f| %> 
      <div class="authform">

        <div class="form-group">
          <%= f.label :name, 'Nombre' %>
          <%= f.text_field :name, :autofocus => true, class: 'form-control', required: true  %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'Contraseña' %>
          <%= f.password_field :password, class: 'form-control', required: true  %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirma contraseña' %>
          <%= f.password_field :password_confirmation, class: 'form-control', required: true  %>
        </div>
        <div style="text-align: right;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= f.submit 'Salvar', :class=>"btn btn-primary" %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
