<%= form_for(@purchases_combo) do |f| %>
  <% if @purchases_combo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchases_combo.errors.count, "error") %> prohibited this purchases_combo from being saved:</h2>

      <ul>
      <% @purchases_combo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :combo_id %><br>
    <%= f.number_field :combo_id %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :upgrade %><br>
    <%= f.check_box :upgrade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
