<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contactform-group">
    * <%= f.label "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Correo electrónico" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Empresa" %><br>
    <%= f.text_field :business %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Teléfono" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class => 'btn btn btn-blue btn-small' %>
  </div>
<% end %>
