<%= form_for(@contact) do |f| %> 

  <div class="contactform-group">
    * <%= f.label "Nombre" %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Correo electrónico" %><br>
    <%= f.email_field :email, :required => true %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Empresa" %><br>
    <%= f.text_field :business, :required => true %>
  </div>
  <div class="contactform-group">
    * <%= f.label "Teléfono" %><br>
    <%= f.text_field :phone, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class => 'btn btn btn-blue btn-small' %>
  </div>
<% end %>
