<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @addon.addon_order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @addon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @addon.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @addon.category_id %>
</p>

<%= link_to 'Edit', edit_addon_path(@addon) %> |
<%= link_to 'Back', addons_path %>
