<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @addon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @addon.description %>
</p>

<%= link_to 'Edit', edit_addon_path(@addon) %> |
<%= link_to 'Back', addons_path %>
