<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @asset.product_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @asset.url %>
</p>

<p>
  <strong>Url thumb:</strong>
  <%= @asset.url_thumb %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Asset Type:</strong>
  <%= @asset.asset_type %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
