<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @combo.product_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @combo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @combo.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @combo.price %>
</p>

<%= link_to 'Edit', edit_combo_path(@combo) %> |
<%= link_to 'Back', combos_path %>
