<p id="notice"><%= notice %></p>

<p>
  <strong>Addon:</strong>
  <%= @purchases_addon.addon_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchases_addon.user_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchases_addon.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @purchases_addon.total_price %>
</p>

<%= link_to 'Edit', edit_purchases_addon_path(@purchases_addon) %> |
<%= link_to 'Back', purchases_addons_path %>
